AccelerateDevGitHubCopilot/src/Library.ApplicationCore/obj/
AccelerateDevGitHubCopilot/src/Library.ApplicationCore/bin/
AccelerateDevGitHubCopilot/src/Library.Console/obj/
AccelerateDevGitHubCopilot/src/Library.Console/bin/
AccelerateDevGitHubCopilot/src/Library.Infrastructure/obj/
AccelerateDevGitHubCopilot/src/Library.Infrastructure/bin/
AccelerateDevGitHubCopilot/tests/UnitTests/obj/
AccelerateDevGitHubCopilot/tests/UnitTests/bin/