AccelerateDevGitHubCopilot/src/Library.ApplicationCore/obj/
AccelerateDevGitHubCopilot/src/Library.Console/obj/
AccelerateDevGitHubCopilot/src/Library.Infrastructure/obj/
AccelerateDevGitHubCopilot/tests/UnitTests/obj/
